.input-form-container {
  width: 60%;
  margin: auto;

  .app-description {
    width: 100%;
    text-align: justify;
  }

  form {
    display: grid;
    grid-template-columns: 9fr 1fr;
    margin: auto;

    button {
      padding: 10px;
      font-weight: bold;
      margin: 0 0 20px 20px;
      border-radius: 10px;
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 60%;
  margin: auto;

  .card-row {
    text-decoration: none;
    width: 30%;

    .card {
      height: 90%;
      cursor: pointer;

      .card-header {
        height: 35%;
        font-size: 16px;
      }

      .card-image {
        height: 40%;
      }

      .card-content {
        height: 30%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .card-container {
    width: 80%;

    .card-row {
      width: 100%;
    }
  }
}
