<div class="input-form-container">
  <p class="app-description">GNews is a news API to search for articles from a variety of sources, including Google News
    and thousands of
    others.
    We also provide the top news headlines, which you can filter by topic such as world, business, sports and more.
  </p>
  <form>
    <div class="input-field">
      <mat-form-field appearance="outline">
        <mat-label>Search for articles...</mat-label>
        <input type="text" #input matInput required placeholder="Search for articles..." />
        <mat-hint align="end">Max 40 characters</mat-hint>
      </mat-form-field>
    </div>
    <button mat-rised-button type="button" (click)="onSearch(input.value)">SEARCH</button>
  </form>
</div>
<div class="card-container">
  <a class="card-row" *ngFor="let article of searchResults?.articles" target="_blank" href={{article.url}}>
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.publishedAt}}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-image" mat-card-image src={{article.image}} alt="article image">
      <mat-card-content class="card-content">
        <p>
          {{article.description.substring(0, 100)}}...
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
