<div class="container">
  <p>GNews is a news API to search for articles from a variety of sources, including Google News and thousands of
    others.
    We also provide the top news headlines, which you can filter by topic such as world, business, sports and more.
  </p>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Search for articles...</mat-label>
      <input matInput placeholder="Search for articles...">
    </mat-form-field>
    <button mat-rised-button>SEARCH</button>
  </form>
</div>
